  <% @university.each do |university| %>
	<tr> 
		<td><%= link_to(university.name, university) %></td>
		<td><%= university.address.city.name %></td>
		<td><%= university.address.city.state.name %></td>
	</tr>
  <% end %>
