<!-- ==============================================
		Text mit Progress Bars
		=============================================== -->
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>Text</h1>
						<hr class="fancy-hr">
						<div class="row">
							<!-- Die nummer hinter dem Span gibt an wie breit das ganze ist - Gesamtgroesse immer 12. Also bzw: Span4 und span8 oder 9 und 3-->
							<div class="span8">
								<h3>H3 Ueberschrift</h3>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
								</p>
								<div class="row">
									<div class="span4 top-margin">
										<h3>H3 Ueberschrift</h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
									</div>
									<div class="span4 top-margin bottom-margin">
										<h3>H3 Ueberschrift</h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
										<ul class="custom-icon-list">
											<li><i class="icon-file-alt"></i>Sed consectetur ipsum</li>
										</ul>
									</div>
								</div>
							</div> <!-- End Span8 -->
							<div class="span4">
								<h3>Progress Bars</h3>
								<div class="progress">
									<div class="bar" style="width: 95%;">
										Eins
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 80%;">
										Zwei
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 83%;">
										Drei
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 85%;">
										Vier
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 70%;">
										Fuenf
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 87%;">
										Sechs
									</div>
								</div >
								<div class="progress">
									<div class="bar" style="width: 100%; background-color:#f7f7f7 !important;;">
										<img src="/images/glyphicons/icon_more.png">
									</div>
								</div >
								</div>
							</div> <!-- End Span4 -->
						</div> <!-- End Row -->
					</div> <!-- End Span12 -->
				</div> <!-- End Row -->
