<div class="container">
			<div class="row">
				<div class="span8">
					<h2 id="test"><%= @test.inspect %></h2>
					<h1>Liste</h1>

					<table id="list" class="table table-striped table-bordered">
					  <tr>
					    <th>Platz</th>
					    <th>Hochschule</th>
					    <th>Ort</th>
					    <th>Rating</th>
					  </tr><tbody id="innerlist">
					  <tr>
					    <td>1</td>
					    <td><a href="index.html">FH Muenster</a></td>
					    <td>Muenster</td>
					    <td>1</td>
					  </tr>
					  <tr>
					    <td>2</td>
					    <td><a href="index.html">FH Osnabrueck</a></td>
					    <td>Osnabrueck</td>
					    <td>4</td>
					  </tr>
					  <tr>
					    <td>3</td>
					    <td><a href="index.html">FH Berlin</a></td>
					    <td>Berlin</td>
					    <td>4</td>					    
					  </tr></tbody>
					</table>

				</div>
				<div class="span4">
					<div class="feature-box">
						<div class="box-content">
							<h4>Filtern</h4><p>
							<div class="form-group no-padding text-left">
								Suchen<input id="toplistSearch" type="text" name="search" placeholder="Suche" class="required">
								<input class="checkbox" type="checkbox" name="test" value="test">Test Text<br>
								<input class="checkbox" type="checkbox" name="test1" value="test1">Test 1 Text<br>
								<input class="checkbox" type="checkbox" name="test2" value="test2">Test 2 Text<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>