<nav id="main-nav">
			
	<ul >
    	<li><a href="#intro">Home</a></li>
    	<li><a href="#about">About</a></li>
    	<li><a href="#services">Toplist</a></li>
    	<li><a href="#portfolio">Bewerten</a></li>		    	
    	<li class="nav-border"><a href="#register">Registrieren</a></li>	
    	<li><a href="#login">Login</a></li>	
	</ul>

	<a href="#intro" class="logo">
		<img src="/images/logo.png" alt="">
	</a>

	<a href="#" id="responsive-nav">
		<i class="icon-list"></i>
	</a>

</nav>