<!-- ==============================================
		Login View
		=============================================== -->
		<div class="container">
			<div class="row">
				<div class="span12">
					<hr class="fancy-hr">
				</div>
				<div class="span2"></div>
				<div class="span8">
					<form action="send-mail.php" method="post" class="form">
						<h1>Login</h1>
						<hr class="fancy-hr">
						<input type="text" name="name" placeholder="Username" class="required">
						<input type="password" name="password" placeholder="Passwort" class="required">
						<input class="checkbox" type="checkbox" name="remember" value="1"/>Eingeloggt bleiben<br>

						<div class="response-message"></div>
						<input type="submit" value="Login" name="submit" class="float-right">
						<div class="clear"></div>
					</form>
				</div> <!-- End Span7 -->
				<div class="span2"></div>
			</div> <!-- End Row -->
		</div>

		<p>