<div class="span8"><!-- Eigener KommentarKommentare -->
					<form method="post" class="form">
						<img src="http://placehold.it/60x60" class="commentPic float-left" />
						<h3 class="no-bottom-margin"><%= comment.owner.email %></h3>
						Kommentar vom: 31.12.2013
						<hr class="fancy-hr no-top-margin no-bottom-margin">
						<div class="clear"></div>
						<p><%= simple_format(comment.body) %></p>
						<input type="submit" value="L&ouml;schen" formaction="#delete" name="submit" class="float-right commentButton no-bottom-margin">
						<input type="submit" value="Editieren" formaction="#edit" name="submit" class="float-right commentButton no-bottom-margin">
						<div class="clear"></div>
					</form>
					<p>
				</div> 
